- name: install unzip
  apt:
    name: unzip
    state: present

- name: create consul service account
  include_role:
    name: service_account
  vars:
    account_name: consul

- name: is consul installed
  stat:
    path: /usr/local/bin/consul
  register: consul_result

- name: download and install consul
  block:
    - name: create download directory
      file:
        path: /tmp/consul_download
        state: directory

    - name: get consul archive
      get_url:
        url: "https://releases.hashicorp.com/consul/{{ consul_version }}/{{ consul_artifact }}"
        dest: /tmp/consul_download

    - name: unarchive consul
      unarchive:
        src: "/tmp/consul_download/{{ consul_artifact }}"
        dest: /tmp/consul_download
        remote_src: yes

    - name: copy consul to usr local bin
      copy:
        src: /tmp/consul_download/consul
        dest: /usr/local/bin/consul
        mode: 0755
        owner: consul
        group: consul
        remote_src: yes

    - name: remove consul download directory
      file:
        path: /tmp/consul_download
        state: absent
  when: consul_result.stat.exists == false

- name: create etc consul directory
  file:
    path: /etc/consul.d
    state: directory
    owner: consul
    group: consul
    mode: 0755

- name: set fact gossip_key
  set_fact:
    gossip_key: "{{ lookup('file', '../secrets/gossip_key') }}"

- name: set fact agent_token
  set_fact:
    agent_token: "{{ lookup('file', '../secrets/agent-token') }}"

- name: create config file
  template:
    src: consul.hcl.j2
    dest: /etc/consul.d/consul.hcl
    owner: consul
    group: consul
    mode: 0444
  vars:
    bind_address: "{{ ansible_default_ipv4.address }}"

- name: create consul directory
  file:
    path: /var/lib/consul
    state: directory
    mode: 0755

- name: create data directory
  file:
    path: "/var/lib/consul/{{ item }}"
    owner: consul
    group: consul
    mode: 0750
    state: directory
  with_items:
    - data

- name: create service file
  copy:
    src: consul.service
    dest: /etc/systemd/system/consul.service
    mode: 0644

- name: restart consul service
  systemd:
    name: consul
    state: restarted
    enabled: yes
    daemon_reload: yes
  ignore_errors: yes

- name: copy prometheus service file
  copy:
    src: prometheus.json
    dest: /home/ubuntu/prometheus.json
    owner: ubuntu
    group: ubuntu
    mode: 644

- name: register prometheus service
  shell: consul services register /home/ubuntu/prometheus.json

