- name: create download dir
  file:
    path: /tmp/elasticsearch
    mode: 0755
    state: directory

- name: add apt key
  apt_key:
    url: https://artifacts.elastic.co/GPG-KEY-elasticsearch
    state: present

- name: install apt transport https
  apt:
    name: apt-transport-https
    state: present

- name: update list
  shell: >-
    echo "deb https://artifacts.elastic.co/packages/7.x/apt stable main" | sudo tee -a /etc/apt/sources.list.d/elastic-7.x.list

- name: update apt
  apt:
    update_cache: yes

- name: install elasticsearch
  apt:
    name: elasticsearch
    state: present

- name: copy config - master
  template:
    src: elasticsearch.yml.j2
    dest: /etc/elasticsearch/elasticsearch.yml
    owner: elasticsearch
    group: elasticsearch
  vars:
    node_name: "{{ node_value }}"
    master_hosts: "{{ master_ips }}"
    master_nodes: "{{ master_names }}"
    master_role_flag: true
    data_role_flag: false
    ingest_role_flag: true
  when: es_role == "master"

- name: test
  debug:
    msg: "value of node_value is {{ node_value }}"

- name: copy config - data
  template:
    src: elasticsearch.yml.j2
    dest: /etc/elasticsearch/elasticsearch.yml
  vars:
    node_name: "{{ node_value }}"
    master_hosts: "{{ master_ips }}"
    master_nodes: "{{ master_names }}"
    master_role_flag: false
    data_role_flag: true
    ingest_role_flag: false
  when: es_role == "data"

- name: start elasticsearch
  systemd:
    name: elasticsearch
    state: restarted
    enabled: yes
    daemon_reload: yes
