- name: create download dir
  file:
    path: /tmp/elasticsearch
    mode: 0755
    state: directory

- name: add apt key
  apt_key:
    url: https://artifacts.elastic.co/GPG-KEY-elasticsearch
    state: present

- name: install apt transport https
  apt:
    name: apt-transport-https
    state: present

- name: update list
  shell: >-
    echo "deb https://artifacts.elastic.co/packages/7.x/apt stable main" | sudo tee -a /etc/apt/sources.list.d/elastic-7.x.list

- name: update apt
  apt:
    update_cache: yes

- name: setup filebeat id
  block:
    - name: create filebeat writer role
      uri:
        url: http://localhost:9200/_security/role/filebeat_writer
        body: "{{ config_vals | to_nice_json }}"
        body_format: json
        url_username: elastic
        url_password: top_secret
        method: POST
      vars:
        config_vals:
          cluster:
            - manage_index_templates
            - monitor
            - manage_ingest_pipelines
          indices:
            - names:
                - filebeat-*
              privileges:
                - write
                - create_index

    - name: create filebeat ilm role
      uri:
        url: http://localhost:9200/_security/role/filebeat_ilm
        body: "{{ config_vals | to_nice_json }}"
        body_format: json
        url_username: elastic
        url_password: top_secret
        method: POST
      vars:
        config_vals:
          cluster:
            - manage_ilm
          indices:
            - names:
                - filebeat-*
                - shrink-filebeat-*
              privileges:
                - write
                - create_index
                - manage
                - manage_ilm

    - name: create filebeat user
      uri:
        url: http://localhost:9200/_security/user/filebeat_internal
        body: "{{ config_vals | to_nice_json }}"
        body_format: json
        url_username: elastic
        url_password: top_secret
        method: POST
      vars:
        config_vals:
          password: filebeat_pass
          roles:
            - filebeat_ilm
            - filebeat_writer
            - beats_system
            - kibana_admin
            - ingest_admin
          full_name: Filebeat internal user
  when: "'elk_master_servers' in group_names"

- name: install filebeat
  apt:
    name: filebeat
    state: present

- name: copy config
  copy:
    src: filebeat.yml
    dest: /etc/filebeat/filebeat.yml

- name: enable filebeat modules
  command: filebeat modules enable system

- name: setup filebeat
  command: filebeat setup
  when: "'elk_master_servers' in group_names"

- name: start filebeat
  systemd:
    name: filebeat
    enabled: yes
    state: restarted
    daemon_reload: yes