- name: create prometheus service account
  include_role:
    name: service_account
  vars:
    account_name: prometheus

- name: make directory
  file:
    path: /tmp/prom_download
    mode: 0755
    state: directory

- name: download prometheus zip file
  get_url:
    url: "https://github.com/prometheus/prometheus/releases/download/v2.14.0/{{ prometheus_version }}.tar.gz"
    dest: "/tmp/prom_download"

- name: unarchive prometheus
  unarchive:
    src: "/tmp/prom_download/{{ prometheus_version }}.tar.gz"
    dest: "/tmp/prom_download"
    remote_src: yes

- name: move executables
  copy:
    src: "/tmp/prom_download/{{ prometheus_version }}/{{ item }}"
    dest: "/usr/local/bin/{{ item }}"
    mode: 0755
    owner: prometheus
    group: prometheus
    remote_src: yes
  with_items:
    - prometheus
    - promtool

- name: create etc prometheus directory
  file:
    path: "/etc/prometheus"
    mode: 0755
    owner: prometheus
    group: prometheus
    state: directory

- name: copy console files
  copy:
    src: "/tmp/prom_download/{{ prometheus_version }}/consoles"
    dest: "/etc/prometheus"
    owner: prometheus
    group: prometheus
    remote_src: yes

- name: copy console libraries
  copy:
    src: "/tmp/prom_download/{{ prometheus_version }}/console_libraries"
    dest: "/etc/prometheus"
    owner: prometheus
    group: prometheus
    remote_src: yes

- name: set up fact for consul servers
  set_fact:
    consul_name_list: "{{ consul_name_list | default([]) + [ '\"' + item + ':9100\"' ] }}"
  with_items:
    "{{ consul_names }}"

- name: set up one var for file
  set_fact:
    consul_servers: "{{ consul_name_list | join(',') }}"

- name: create prometheus configuration file
  template:
    src: prometheus.yml.j2
    dest: /etc/prometheus/prometheus.yml
    owner: prometheus
    group: prometheus
    mode: 0644
  vars:
    consul_servers: consul_servers

- name: create data directory
  file:
    path: /var/lib/prometheus
    state: directory
    owner: prometheus
    group: prometheus
    mode: 0755

- name: create service file
  copy:
    src: prometheus.service
    dest: /etc/systemd/system/prometheus.service
    mode: 0644
  notify:
  - start prometheus

- name: delete download directory
  file:
    path: /tmp/prom_download
    state: absent