- name: install default jre
  apt:
    name: default-jre
    state: present

- name: create kafka service account
  include_role:
    name: service_account
  vars:
    account_name: kafka

- name: make download directory
  file:
    path: /tmp/kafka_download
    mode: 0755
    state: directory

- name: make kafka directory
  file:
    path: "/opt/kafka"
    owner: kafka
    group: kafka
    mode: 0755
    state: directory

- name: make kafka logs directory
  file:
    path: "/opt/kafka-logs"
    owner: kafka
    group: kafka
    mode: 0755
    state: directory

- name: is kafka downloaded
  stat:
    path: "/tmp/kafka_download/{{ kafka_artifact }}"
  register: kafka_download_exists_result

- name: download kafka zip file
  get_url:
    url: "https://downloads.apache.org/kafka/{{ kafka_version }}/{{ kafka_artifact }}"
    dest: "/tmp/kafka_download"
  when: kafka_download_exists_result.stat.exists == false

#- name: copy kafka archive
#  copy:
#    src: "{{ kafka_artifact }}"
#    dest: "/tmp/kafka_download/{{ kafka_artifact }}"
#  when: kafka_download_exists_result.stat.exists == false

- name: unarchive kafka
  unarchive:
    src: "/tmp/kafka_download/{{ kafka_artifact }}"
    dest: "/opt/kafka"
    owner: kafka
    group: kafka
    remote_src: yes

- name: create service file
  copy:
    src: kafka.service
    dest: /etc/systemd/system/kafka.service
    mode: 0644
  notify:
    - start kafka

- name: file template
  template:
    src: server.properties.j2
    dest: "/opt/kafka/{{ kafka_name }}/config/server.properties"
    owner: kafka
    group: kafka
    mode: 0644
  vars:
    node_name: "{{ ansible_hostname }}.podspace.internal"

- name: is kraft initialized
  stat:
    path: "/opt/kafka/kafka-logs/meta.properties"
  register: kraft_initialized

- name: create kraft meta log
  shell:
    chdir: "/opt/kafka/{{kafka_name}}"
    cmd: |
      bin/kafka-storage.sh format -t {{ raft_id }} -c config/server.properties
  when: kraft_initialized.stat.exists == false

- name: update meta log ownership
  file:
    path: "/opt/kafka/kafka-logs"
    owner: kafka
    group: kafka
    recurse: true
