- name: install libfontconfig
  apt:
    name: libfontconfig
    state: present

- name: create download directory
  file:
    path: "/tmp/graf_download"
    state: directory

- name: download grafana package
  get_url:
    url: "https://dl.grafana.com/oss/release/grafana_6.5.1_amd64.deb"
    dest: "/tmp/graf_download"

- name: install grafana
  shell: dpkg -i /tmp/graf_download/grafana_6.5.1_amd64.deb

- name: start grafana service
  systemd:
    name: grafana-server
    state: started
    enabled: yes
    daemon_reload: yes