- name: install unzip
  apt:
    name: unzip
    state: present

- name: create consul service account
  include_role:
    name: service_account
  vars:
    account_name: consul

- name: create download directory
  file:
    path: /tmp/consul_download
    state: directory

- name: get consul archive
  get_url:
    url: https://releases.hashicorp.com/consul/1.6.2/consul_1.6.2_linux_amd64.zip
    dest: /tmp/consul_download

- name: unarchive consul
  unarchive:
    src: /tmp/consul_download/consul_1.6.2_linux_amd64.zip
    dest: /tmp/consul_download
    remote_src: yes

- name: copy consul to usr local bin
  copy:
    src: /tmp/consul_download/consul
    dest: /usr/local/bin/consul
    mode: 0755
    owner: consul
    group: consul
    remote_src: yes

- name: create etc consul directory
  file:
    path: /etc/consul.d
    state: directory
    owner: consul
    group: consul
    mode: 0755

- name: create config file
  template:
    src: consul.hcl.j2
    dest: /etc/consul.d/consul.hcl
    owner: consul
    group: consul
    mode: 0444
  vars:
    bind_address: "{{ ansible_default_ipv4.address }}"
    ip_list: "{{ root_agent_ips }}"

- name: create consul data directory
  file:
    path: /var/lib/consul
    state: directory
    owner: consul
    group: consul
    mode: 0755

- name: create service file
  copy:
    src: consul.service
    dest: /etc/systemd/system/consul.service
    mode: 0644
  notify:
  - start consul

- name: remove consul
  file:
    path: /tmp/consul_download
    state: absent