- name: create alertmanager service account
  include_role:
    name: service_account
  vars:
    account_name: alertmanager

- name: make directory
  file:
    path: /tmp/am_download
    mode: 0755
    state: directory

- name: download alertmanager zip file
  get_url:
    url: "https://github.com/prometheus/alertmanager/releases/download/v{{ alertmanager_version }}/{{ alertmanager_artifact }}"
    dest: "/tmp/am_download"

- name: unarchive alertmanager
  unarchive:
    src: "/tmp/am_download/{{ alertmanager_artifact }}"
    dest: "/tmp/am_download"
    remote_src: yes

- name: move executables
  copy:
    src: "/tmp/am_download/{{ alertmanager_name }}/{{ item }}"
    dest: "/usr/local/bin/{{ item }}"
    mode: 0755
    owner: alertmanager
    group: alertmanager
    remote_src: yes
  with_items:
    - alertmanager
    - amtool

- name: create etc alertmanager directory
  file:
    path: "/etc/alertmanager"
    mode: 0755
    owner: alertmanager
    group: alertmanager
    state: directory

- name: copy config file
  copy:
    src: "/tmp/am_download/{{ alertmanager_name }}/alertmanager.yml"
    dest: "/etc/alertmanager/alertmanager.yml"
    owner: alertmanager
    group: alertmanager
    remote_src: yes

- name: create service file
  copy:
    src: alertmanager.service
    dest: /etc/systemd/system/alertmanager.service
    mode: 0644
  notify:
  - start alertmanager

- name: remove alert manager download
  file:
    path: /tmp/am_download
    state: absent