- name: update server
  apt:
    update_cache: yes
    upgrade: "yes"
  ignore_errors: yes
  when: private_host == "false"

- name: update resolve domain
  ini_file:
    path: /etc/systemd/resolved.conf
    section: Resolve
    option: Domains
    value: internal.podspace.net
    backup: yes
  notify:
    - restart resolved

- name: Ensure hostname set
  hostname: name={{ inventory_hostname }}
  become: true

- debug:
    msg: "hostname: {{ ansible_hostname }}\tfqdn:{{ ansible_fqdn }}\taddress: {{ ansible_default_ipv4.address }}\t{{ inventory_hostname }}"

- name: Ensure hostname is in /etc/hosts
  lineinfile:
    dest=/etc/hosts
    regexp="^{{ ansible_default_ipv4.address }}.+$"
    line="{{ ansible_default_ipv4.address }} {{ inventory_hostname }} {{ ansible_hostname }}"
  become: true

- name: copy public ca cert
  copy:
    src: ../../vpcs/secrets/podspace_ca_cert.pem
    dest: /usr/local/share/ca-certificates/podspace-ca-cert.crt
    mode: 0444

- name: copy internal ca cert
  copy:
    src: ../../vpcs/secrets/local_ca_cert.pem
    dest: /usr/local/share/ca-certificates/local-ca-cert.crt
    mode: 0444

- name: run update ca certificates
  shell: update-ca-certificates
