- name: create nginx config file
  copy:
    src: consul
    dest: /etc/nginx/sites-available/consul
  notify:
  - start nginx

- name: link to enabled sites
  file:
    src: /etc/nginx/sites-available/consul
    dest: /etc/nginx/sites-enabled/consul
    state: link

- name: is there a datasource
  uri:
    url: http://localhost:3000/api/datasources
    user: admin
    password: admin
    force_basic_auth: true
    status_code: 200
  ignore_errors: true
  register: grafana_datasources

- name: print the output
  debug:
    msg: "{{ grafana_datasources.json }}"

- name: add local grafana datasource
  uri:
    url: http://localhost:3000/api/datasources
    method: POST
    user: admin
    password: admin
    status_code: 200
    force_basic_auth: true
    body_format: json
    body: '{"name":"Prometheus","type":"prometheus","access":"proxy","url":"http://localhost:9090","basicAuth":false}'
  ignore_errors: true
  when: (grafana_datasources.json | length) == 0

- name: remove default site
  file:
    path: /etc/nginx/sites-enabled/default
    state: absent
  notify:
  - start nginx
